

.modal-boxs {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-contents {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    max-width: 550px;
    width: 90%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    animation: fadeIn 0.3s ease;
    overflow-y: auto;
    max-height: 90vh;
}

.card-container {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    animation: fadeIn 0.3s ease;
}

.card-container:hover {
    transform: scale(1.05);
}




@media (min-width: 1024px) {
    .modal-content {
        max-width: 350px;
        padding: 20px;
    }
}

@media (max-width: 600px) {
    .modal-content {
        width: 75%;
        padding: 12px;
    }
    .title-typography {
        font-size: 1.25rem;
    }
    .description-typography {
        font-size: 0.9rem;
    }
}

@media (max-width: 400px) {
    .modal-content {
        padding: 10px;
        border-radius: 6px;
    }
    .card-image {
        width: 200px;
    }
    .title-typography {
        font-size: 1.1rem;
    }
    .description-typography {
        font-size: 0.85rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}